
body {
    padding: 30px;
    font: 14px "Century Gothic", Futura, sans-serif;
    margin: 20px;
    background-color: rgb(192, 226, 240);
}
  
ol, ul {
    padding-left: 30px;
}
  
.board-row:after {
    clear: both;
    content: "";
    display: table;
}

.status {
    margin-bottom: 10px;
}

.square {
    background: #fff;
    border: 1px solid #999;
    float: left;
    font-size: 24px;
    font-weight: bold;
    line-height: 34px;
    height: 50px;
    margin-right: -1px;
    margin-top: -1px;
    padding: 0;
    text-align: center;
    width: 50px;
}
  
.square:focus {
    outline: none;
}
  
.kbd-navigation .square:focus {
    background: #ddd;
}
  
.game {
   /* border: 0.5px solid gray; */
   max-width: 800px;
   margin: 0px auto;
}
h1 {
    background-color: #ece89d;
    line-height: 50px;
    font-size: 25px;
    font-weight: 700;
    text-align: center;
} 

.game-board {
    margin-top: 70px;
    margin-left: 330px;
}


.game-info {
    font-size: 18px;    
    font-weight: 700;
    margin-left: 330px;
    margin-top: 20px;
}

.bold {
    font-weight: bold;
}